.navbar .correct {
  animation: .4s correct;
}

.navbar .incorrect {
  animation: .4s incorrect;
}

@keyframes correct {
  0% {
    color: white;
  }

  50% {
    color: #30b937;
  }

  100% {
    color: white;
  }
}

@keyframes incorrect {
  0% {
    color: white;
  }

  50% {
    color: #db1b1b;
  }

  100% {
    color: white;
  }
}
